<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- Minified Bootstrap v 4.5.2 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome 6 Core CSS -->
    <link rel="stylesheet" href="/css/css/fontawesome.css">
    <!-- Font Awesome 6 Solid Icons -->
    <link rel="stylesheet" href="/css/css/solid.css">
    <!-- Personal CSS File -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampWI</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light col-12" id="mainNavbar">
        <div class="container navbar-container d-flex flex-row">

            <a id="navbar-brand" class="navbar-brand" href="/">CampWI <i class="fas fa-tree"></i></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarNav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                        <a class="nav-link" href="/campgrounds"><i class="fas fa-campground"></i> All Campgrounds</a>
                    </li>
                </ul>
                <ul id='navbar-right' class="navbar-nav ml-auto">
                    <% if(!currentUser){ %>
                    <li class="mr-2 nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                        <a class="nav-link" href="/login">LOGIN
                            HERE, stranger! <i class="fas fa-user-secret"></i></i></a>
                    </li>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                        <a class="nav-link" href="/register">Sign Up <i class="fas fa-user-plus"></i></a>
                    </li>
                    <% } else { %>
                    <li
                        class="nav-item dropdown pr-2 <%= typeof page !== 'undefined' && page === 'notifications' ? 'active' : '' %>">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Notifications <span
                                class="badge badge-light"><%= notifications.length %></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/notifications">View past notifications <i
                                    class="fas fa-bell"></i></a>
                            <div class="dropdown-divider"></div>
                            <% if (notifications.length < 1) { %>
                            <a href="#" class="dropdown-item">No New Notifications <i class="fas fa-heart-broken"></i>
                            </a>
                            <% } else { %>
                            <a href="#" class="dropdown-item">New Notifications Below: <i class="fas fa-bell"></i></a>
                            <% } %>
                            <% notifications.forEach(function(notification) { %>
                            <a class="dropdown-item" href="/notifications/<%= notification.id %>">
                                <%= notification.username %> created a new campground
                            </a>
                            <% }); %>
                        </div>
                    </li>
                    <li class="nav-item pr-2 <%= typeof page !== 'undefined' && page === 'user' ? 'active' : '' %>">
                        <a class="nav-link" href="/users/<%= currentUser._id %> "><i class="fas fa-user">
                            </i> <%= currentUser.username %>'s Profile
                            <% if (currentUser && currentUser.isAdmin) { %>
                            (Admin)
                            <% } %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Bootstrap alerts -->
    <!-- Error -->
    <% if (error && error.length > 0) { %>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <% } %>
    <% if (success && success.length > 0) { %>
    <!-- Success -->
    <div class="container">
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    </div>
    <% } %>