<%- include("../partials/header") %>

<div class="container-fluid user-notifications-top row">
    <div class="container col-11 col-md-10 col-lg-8 user-notifications-container mb-4 px-0">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-7 col-lg-4 col-xl-3">
                <div class="card user-profile-card p-0 align-self-start justify-content-center">
                    <% if(user.avatar) { %>
                    <div class="card-img-top user-avatar img-responsive center-block"
                        style="background: url(<%= user.avatar %>) no-repeat center; background-size: cover; padding-top: 25rem;">
                    </div>
                    <% } else { %>
                    <div class="card-img-top user-avatar"
                        style="background: url(<%= '../../default_user_avatar_img.jpg' %>) no-repeat center; background-size: cover; padding-top: 25rem;">
                    </div>
                    <% } %>
                    <div class="card-body pb-2">
                        <div class="text-center card-title">
                            <h4 class="pb-2"><strong><%= user.username %></strong></h4>
                            <div class="card-subtitle">
                                <p class="mb-1">CampWI Member since</p>
                                <p class="mb-0"><em><%= user.joinDate.toString().substring(4, 15) %></em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-notifications-section col-10 col-sm-10 col-md-9 col-lg-7">
                <h3 class="text-center mb-3"><%= user.username %>'s Past Notifications <i class="fas fa-bell"></i></h3>
                <div class="row d-flex align-items-center justify-content-center mb-3">
                    <% if (cntNotifications < 1) { %>
                    <h3 class="my-5">You don't have any notifications <i class="fas fa-sad-cry"></i></h3>
                    <% } else { %>
                    <% allNotifications.forEach((notification) => { %>
                    <div class="col-10 col-md-8 col-lg-4 p-0 mt-2 ml-2">
                        <div class="card notification-card align-items-center justify-content-center">
                            <div class="card-title text-center">
                                <p class="my-auto"><%= notification.username %>
                                    <% if(notification.isCampgroundNotification) { %>
                                    created a new campground,
                                    <strong><em><%= notification.campgroundName %></em></strong>
                                    .
                                </p>
                            </div>
                            <p class="align-self-center mt-1">
                                <a href="/notifications/<%= notification._id %>" class="btn">Go to campground <i
                                        class="fas fa-info-circle"></i></a>
                            </p>
                            <% } %>
                        </div>
                    </div>
                    <% })}; %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>