<%- include("../partials/header") %>

<div class="container-fluid user-profile-top row">
    <div class="container col-sm-12 col-md-10 col-lg-8 user-profile-container mb-4">
        <div class="row justify-content-center">
            <div class="col-sm-3 col-md-4 col-lg-4">
                <div class="card user-profile-card p-0 align-items-center justify-content-center">
                    <% if(user.avatar) { %>
                    <div class="card-img-top user-avatar img-responsive center-block"
                        style="background: url(<%= user.avatar %>) no-repeat center; background-size: cover; padding-top: 25rem;">
                    </div> <% } else { %> <div class="card-img-top user-avatar"
                        style="background: url(<%= '../../default_user_avatar_img.jpg' %>) no-repeat center; background-size: cover; padding-top: 25rem;">
                    </div> <% } %>
                    <div class="card-body pb-2">
                        <div class="text-center card-title">
                            <h4 class="pb-2"><strong><%= user.username %></strong></h4>
                            <div class="card-subtitle">
                                <p class="mb-1">CampWI Member since</p>
                                <p class="mb-0"><em><%= user.joinDate.toString().substring(4, 15) %></em></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer user-about-me">
                        <h4 class="text-center">About Me</h4>
                        <hr class="about-me-hr">
                        Some text for the users to write a statements about themselves.
                        Tbh stumptown ramps cray, umami brooklyn poutine enamel pin bespoke squid. Plaid craft beer
                        cronut,
                        wayfarers pinterest
                        kale chips tote bag messenger bag kinfolk church-key food truck.
                    </div>
                </div>
            </div>

            <div class="user-profile-campgrounds-section col-sm-9 col-md-6 col-lg-8">
                <h3 class="text-center mb-3"><%= user.username %>'s Campgrounds <i class="fas fa-caravan"></i></h3>
                <div class="row d-flex align-items-center justify-content-center">
                    <% campgrounds.forEach((campground) => { %>
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3 mx-0">
                        <div class="card align-items-center justify-content-center">
                            <div class="card-img-top"
                                style="background: url(<%= campground.image %>) no-repeat center; background-size: cover; padding-top:60%;">
                            </div>
                            <div class="card-body text-center pb-0">
                                <h4><%= campground.name %></h4>
                            </div>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>" class="btn">More Info <i
                                        class="fas fa-info-circle"></i></a>
                            </p>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>